<% content_for :heading do %>
    New Note
<% end %>

<div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <%=
            if logged_in?  # stave off perception of lost data
                render 'form'
            else
                link_to('Login to create notes', login_path,
                    class: SessionsHelper::LOGIN_BUTTON_CLASSES)
            end
            %>
        </div>
    </div>
</div>
