<% content_for :heading do %>
    New User
<% end %>

<div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <%= render 'form' %>
        </div>
    </div>
</div>
